# generic
.DS_Store
.vagrant

# code & config
_service-provider/*
_solr/schema.xml
_src/*
local/*
.env

# Python build artifacts (extensiones)
*.egg-info/
__pycache__/
*.pyc
src/.cookiecutter_replay/
